<ion-view view-title="{{title}}">
  <ion-nav-bar class="bar-light box-shadow">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear button-calm" ui-sref="contact.list"><i class="icon ion-ios-information-outline font-bold"></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list m-n chat-bubble">
      <div class="item item-avatar b-none me" href="#">
        <img ng-src="{{recipient.image}}">
        <div class="text-xs"><span class="font-bold m-r-sm">{{recipient.name}}</span><span class="color-grey-500">1:30PM</span></div>
        <div class="bubble">
          <i class="icon-tail"></i>
          <span class="content">
            Hey buddy, I'm already there
          </span>
        </div>
      </div>

      <div class="item item-avatar b-none friend" href="#">
        <img ng-src="img/adam.jpg">
        <div class="text-xs"><span class="font-bold m-r-sm">Adam</span><span class="color-grey-500">1:35PM</span></div>
        <div class="bubble">
          <i class="icon-tail"></i>
          <span class="content">
            Wait a minute. I'm coming
          </span>
        </div>
      </div>

      <div class="item item-avatar b-none me" href="#">
        <img ng-src="{{recipient.image}}">
        <div class="text-xs"><span class="font-bold m-r-sm">{{recipient.name}}</span><span class="color-grey-500">1:55PM</span></div>
        <div class="bubble">
          <i class="icon-tail"></i>
          <span class="content">Still waiting...</span>
        </div>

        <div class="bubble photo">
          <img src="img/photo.png" width="200" alt="">
        </div>
        <i class="icon ion-heart assertive m-r-xs"></i><span class="text-xs font-bold color-grey-500">You, Adam</span>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-subfooter item-input-inset">
    <label class="item-input-wrapper no-bg">
      <input type="text" placeholder="Add a message">
    </label>
    <button class="button button-clear">
      Send
    </button>
  </div>
  <ion-footer-bar class="bar-light item-input-inset b-t">
    <label class="item-input-wrapper no-bg">
      <input type="search" placeholder="Add a message" ng-model="query" ng-init="query=''">
    </label>
    <button class="button button-clear">
      Send
    </button>
  </ion-footer-bar>
</ion-view>