<ion-modal-view view-title="Account Key">
  <ion-header-bar class="bar-stable">
    <div class="h1 title"></div>
    <button class="button button-clear" ng-click="closeModal()">
      <i class="icon ion-android-close"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="text-center wrapper-md">
      <img src="img/adam.jpg" width="96" class="b b-2x b-light rounded" alt="">
      <div class="font-bold">Hieu Pham</div>
      <span class="color-grey-500 text-xs">mr_hie</span>
    </div>

    <div class="wrapper-lg text-center">
      <p class="text-xs">User this Account Key to sign in</p>
      <button class="button button-block button-outline button-large button-positive">NWPR TVBR</button>
    </div>
    </ion-content>
</ion-modal-view>
