<ion-view view-title="More Settings">
  <ion-content>
    <ul class="list">
      <li class="item b-none">
        <div class="row no-padder">
          <div class="col-75 no-padder">
            Let friends find me   
          </div>
          <div class="col no-padder text-right">
            <label class="toggle toggle-balanced">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>
        <div class="text-xs color-grey-500" style="white-space: normal">
          Friends can find you on Messenger when they search for your phone number or email
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
